.cTDEdit{
	height:auto;
	width:auto;
	font-family: Arial;
	margin:0px;
	padding:0px;
	border:solid 1px black;
}

.cTDInput{
	border: solid 1px black;
	margin: 0;
	background: transparent;
	padding: 2px;
	width: 30px;
	height: 30px;
	font: normal 16pt Arial;
	text-align: center;
	vertical-align: middle;
}
